<link rel="stylesheet" href="/stylesheets/css/galeria.css">

<h1>Galería</h1>
<hr>
<div>
    <img src="/images/assets/images/paisajes/Fondo_1.webp" alt="paisaje 1">
    <img src="/images/assets/images/paisajes/Fondo_2.webp" alt="paisaje 2">
    <img src="/images/assets/images/paisajes/Fondo_3.webp" alt="paisaje 3">
    <img src="/images/assets/images/paisajes/Fondo_4.webp" alt="paisaje 4">
    <img src="/images/assets/images/paisajes/Fondo_5.webp" alt="paisaje 5">
    <img src="/images/assets/images/paisajes/Fondo_6.webp" alt="paisaje 6">
</div>