<link rel="stylesheet" href="/stylesheets/css/index.css">

<main>
<img src="/images/assets/images/inicio.webp" alt="imagen_inicio">

<h1>BIENVENIDOS A CABAÑAS FRANCO</h1>
<p><strong>Cabañas Franco</strong> es un complejo de 2 cabañas ubicado en <strong>Las Chacras Sur, Traslasierra, Córdoba</strong>. Nuestras cabañas fueron construidas en perfecta armonía con el increible entorno, sustentándose con energías renovables. Un lugar ideal para quienes aman la naturaleza y la tranquilidad.<br>El <strong>Complejo de Cabañas Franco</strong> se encuentra ubicado al pie de las imponentes Sierras de los Comechingones que nos invitan a contemplar el maravilloso paisaje en familia o con amigos. <strong>Abierto todo el año.</strong></p>

<!-- Comentario para commit entrega final -->
</main>

