<link rel="stylesheet" href="/stylesheets/css/las-chacras.css">

<h1>Descubrí Las Chacras | Calificaciones</h1>
<hr>
<div class="container">
    <div>
        <img src="/images/assets/images/servicios.webp" alt="logo servicios">
        <a href="#servicios">Servicios</a>
    </div>
    <div>
        <img src="/images/assets/images/locales.webp" alt="imagen locales">
        <a href="#locales">Locales</a>
    </div>
    <div>
        <img src="/images/assets/images/paisajes/arroyo.webp" alt="imagen paisajes">
        <a href="#paisajes">Paisajes</a>
    </div>
    <div>
        <img src="/images/assets/images/eventos.webp" alt="imagen eventos">
        <a href="#calificaciones">Calificaciones</a>
    </div>
</div>
<img src="/images/assets/images/las-chacras-2.webp" alt="imagen las chacras">

<hr class="separador">

<h2 id="servicios">Servicios</h2>
<div class="servicio-1">
    <div>
        <img src="/images/assets/images/ariel_remis/cartel_1.webp" alt="Imagen auto Ariel remis">
    </div>
    <div class="ariel-texto">
        <h3>Remis y Comisiones Ariel</h3>
        <p>Servicio de remis y comisiones por toda Córdoba, Buenos Aires y más. Experiencia, seguridad, y confianza aseguradas. Paquetería, turnos médicos, retiro y entrega de mercadería, traslado de mascotas, entre otros trámites. <br> <i class="fa-brands fa-whatsapp"></i> Whatsapp: <a href="https://wa.me/5493544609516">+54 9 3544 609516</a></p>
    </div>
</div>
<hr class="separador-int">
<div class="servicio-2">
    <div>
        <img src="/images/assets/images/inserte-logo.webp" alt="imagen ejemplo">
    </div>
    <div class="servicio-ejemplo">
        <h3>Publicite su negocio aqui</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at ut voluptatum harum consectetur natus. Dolor omnis, reiciendis qui esse nulla autem quibusdam corrupti, sapiente labore accusamus velit, culpa suscipit.</p>
    </div>
</div>

<hr class="separador">

<h2 id="locales">Locales</h2>
<div class="local-1">
    <div>
        <img src="/images/assets/images/tacuara-1.webp" alt="imagen tacuara">
    </div>
    <div class="tacuara-texto">
        <h3>Tacuara Artesanías</h3>
        <p>Local de artesanías al costado de la ruta 14. Artesanías, dulces, licores. Ropa y bijouterie. Implementos para asado y cocina. Objetos de decoración y más. <br> <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/tacuara_artesanias/">tacuara_artesanias</a> </p>
    </div>
</div>
<hr class="separador-int">
<div class="local-2">
    <div>
        <img src="/images/assets/images/inserte-logo.webp" alt="imagen ejemplo">
    </div>
    <div class="local-ejemplo">
        <h3>Publicite su local aqui</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at ut voluptatum harum consectetur natus. Dolor omnis, reiciendis qui esse nulla autem quibusdam corrupti, sapiente labore accusamus velit, culpa suscipit.</p>
    </div>
</div>

<hr class="separador">

<h2 id="paisajes">Paisajes</h2>
<div class="paisaje-1">
    <div>
        <img src="/images/assets/images/paisajes/Sierra_atardecer_1.webp" alt="paisaje 1">
    </div>
    <div class="paisaje1-texto">
        <h3>Sierras</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, minus adipisci qui odio officia inventore distinctio dicta doloremque vero itaque ipsum porro, quidem illo nulla ab dolores id voluptate nesciunt!</p>
    </div>
</div>
<hr class="separador-int">
<div class="paisaje-2">
    <div>
        <img src="/images/assets/images/paisajes/arroyo.webp" alt="paisaje 2">
    </div>
    <div class="paisaje2-texto">
        <h3>Arroyos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at ut voluptatum harum consectetur natus. Dolor omnis, reiciendis qui esse nulla autem quibusdam corrupti, sapiente labore accusamus velit, culpa suscipit.</p>
    </div>
</div>     

<hr class="separador">

<h2 id="calificaciones">Calificaciones</h2>
{{#each novedades}}
<div class="calificacion">
    <div>
        <h3>Calificacion: {{calificacion}} estrellas</h3>
    </div>
    <div>
        <h3>{{titulo}}</h3>
        <p>{{comentario}}</p>
    </div>
    
</div>
<hr class="separador-int">
{{/each}}