<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabañas Franco | Las Chacras, Cordoba</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:ital,wght@0,500;1,300;1,400&family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/stylesheets/css/normalize.css">
    <link rel="stylesheet" href="/stylesheets/css/index.css">
</head>
<body>
    <header>
        <div class="topbar">
            <img src="/images/assets/images/topbar.webp" alt="imagen topbar">
        </div>
        <nav class="menu">
            <ul type="none">
                <li><a href="/">Inicio</a></li>
                <li><a href="/cabanas">Cabañas</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/galeria">Galería</a></li>
                <li><a href="/las-chacras">Las Chacras</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {{{body}}}
    </main>
      <footer>
        <div class="footer1">
            <p>Calle pública S/N (a 300 metros de la plaza)</p>
            <p>Las Chacras Sur, Córdoba, Argentina</p>
            <p>Teléfono: <strong>+5491123456789</strong></p> <!--El numero seria un link a Whatsapp-->
            <p>Email: cabanasfranco@gmail.com</p>
        </div>
        <div class="copyright">
            <span>Copyright Cabañas Franco 2022. Desarrollo Web: <a href="mailto:francobiasottidev@gmail.com">francobiasottidev@gmail.com</a></span>
        </div>
      </footer>
</body>
</html>