<link rel="stylesheet" href="/stylesheets/css/servicios.css">

<h1>Servicios</h1>
<hr>
<div class="container">
    <div class="lista">
        <p>Todas nuestras cabañas cuentas con los siguientes servicios:</p>
        <ul>
            <li>Servicio de limpieza</li>
            <li>Wi-Fi</li>
            <li>Parrilla individual</li>
            <li>Pileta común</li>
            <li>Baño equipado</li>
            <li>Calefacción</li>
            <li>Refrigeración</li>
            <li>Cochera cubierta común</li>
            <li>Lavandería (opcional)</li>
        </ul>
    </div>
    <div class="imagen">
        <img src="/images/assets/images/paisajes/Fondo_8.webp" alt="paisaje fondo">
    </div>
</div>